body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}


label {
    color: rgb(21, 187, 21); 
    font-family: 'Verdana', sans-serif; 
    font-weight: bold; 
    display: block;
    margin-bottom: 5px;
    font-size: medium;
}


input[type="text"], 
input[type="password"], 
select {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;;
}


input[type="button"] {
    background-color: #108d25;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#resultatFinal {
    margin-top: 30px;
    padding: 15px;
    background-color: #e9f7ef;
    border: 1px solid #28a745;
    border-radius: 5px;
    color: #155724;
}

h1 {
    color: #108d25;
    text-align: center;
}
